
header{
  display: flex;
  flex-direction: row;
}

.header h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  
}

.content{
  font-family: 'Open Sans', sans-serif;
  background-image: './images/bg-desktop.svg' ;

}

.content h3{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
}


.icons{
  color: black;
  font-size: large;
}

button {
  border-radius: 25px;
  font-size: 15px;
  padding: 14px 60px;
  color:hsl(257, 40%, 49%);
  box-shadow: 0px 2px 4px grey;

}